@import "src/styles/const";

:host {
  display: block;
  color: $color-primary;
  text-align: center;
}

.scroll-bar-hidden {
  height: 124px;
  overflow: hidden;
}

.search-list {
  color: $color-primary;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.search-item {
  width: 15%;
  min-width: 120px;
  text-align: center;
  padding: 0 0 16px;
  user-select: none;
  cursor: pointer;

  &:first-child {
    border-radius: 4px 0 0 0;
  }

  &:last-child {
    border-radius: 0 4px 0 0;
  }

  .clipart {
    margin: 0 auto;
    max-width: 120px;
  }

  .btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $color-primary-light-1;
    transform: translate(32px, -48px);
    box-shadow: none;

    .icon {
      color: #fff;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }

  &.selected {
    background-color: $color-primary;
    > * {
      color: $bg-color;
      cursor: auto;
    }
  }

  &:not(.selected):hover {
    background-color: $color-secondary;
    color: $bg-color;
  }
}

.search-item-empty {
  width: 8%;
  min-width: 120px;
  text-align: center;
  background-color: #888;
  padding: 0 0 16px;
  user-select: none;

  .clipart {
    margin: 0 auto;
    max-width: 120px;
  }
}

@media only screen and (max-width: 992px) {
  .media-container {
    font-size: 14px;

    .scroll-bar-hidden {
      height: 117px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .media-container {
    padding: 0;
  }
}
