@import "src/styles/const";

.shadow {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color;
  position: fixed;
  opacity: 0.75;
  z-index: 1;
}

.screen {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.message-box {
  max-width: 480px;
  height: auto;
  background-color: $bg-color;
  padding: 32px;
  margin: 200px auto;
  position: relative;
  box-shadow: 0 5px 10px rgba($color: $color, $alpha: 1);
  z-index: 100;

  .overHidden {
    overflow: hidden;
  }

  h2 {
    text-align: center;
    color: $color-secondary;
  }

  .action {
    text-align: center;
  }
}

.body {
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .media-container {
    max-width: 380px;
  }
}

@media only screen and (max-width: 576px) {
  .media-container {
    max-width: 340px;
  }
}
