$color: #00303d;
$color-primary: #0ad;
$color-secondary: #f80;
$bg-color: #fff;

$color-primary-light-1: #68d1ee;
$color-primary-light-2: #3cc7ee;

$color-disabled: #888;
$bg-color-disabled: #f5f5f5;
