* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: $color;
  background-color: $color;
  min-width: $min-width;
  font-size: 1em;
}

main {
  background-color: $bg-color;
}

h1 {
  font-family: "Roboto Slab", serif !important;
  margin-bottom: 0 !important;
}

h2 {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $color-primary;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    color: $color-secondary;
  }
}

button,
button:active,
button:focus {
  font-size: 1em;
  line-height: 1.25;
  border: none;
  outline: none;
}
