<ng-template [ngIf]="isNotEmpty" [ngIfElse]="noElement">
  <div>
    <h4>{{ record.dateTime }}</h4>
    <h2 class="mb-0">{{ getInfo.id }}</h2>
    <h3 class="mb-24">Owner: {{ getInfo.owner }}</h3>
  </div>
  <ng-template [ngIf]="history.length" [ngIfElse]="noElement">
    <div
      class="card d-flex media-container"
      *ngFor="let item of history.reverse()"
    >
      <div class="info d-flex">
        <mat-icon class="icon f-align-self-center" matSuffix [inline]="true">
          location_on
        </mat-icon>
        <div class="info-from d-flex">
          <div class="port">
            <div class="bold">{{ item.sourcePort }}</div>
            <div>{{ item.sender }}</div>
          </div>
          <div class="date f-align-self-center">
            <div>{{ item.dateFrom }}</div>
          </div>
        </div>
      </div>
      <div class="info d-flex">
        <mat-icon class="icon f-align-self-center" matSuffix [inline]="true">
          arrow_forward
        </mat-icon>
        <div class="info-to d-flex">
          <div class="port">
            <div class="bold">{{ item.destinationPort }}</div>
            <div>{{ item.recipient }}</div>
          </div>
          <div class="date f-align-self-center">
            <div>{{ item.dateTo }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </ng-template>
</ng-template>
<ng-template #noElement>
  <div class="empty-warning">
    <h3>{{ emptyTitle }}</h3>
    <p>{{ emptyMessage }}</p>
  </div>
  <!-- /.empty-warning -->
</ng-template>
