@import "src/styles/const";

:host {
  display: block;
  margin-bottom: 48px;
}

h2,
h4 {
  text-align: center;
}

.article {
  max-width: 800px;
  margin-left: 60px;
}

.clipart {
  min-width: 240px;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .media-container {
    flex-direction: column;

    .clipart {
      min-width: 240px;
      margin: 0 auto 16px;
    }

    .article {
      text-align: justify;
      max-width: 100%;
      margin-left: 0;
    }
  }
}
